body {
    background-color: rgb(103, 230, 187);
}

#containeResults {
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    width: 300px;
    min-height: 500px;
    margin: auto;
    background-color: white;
    padding: 1.5em;
    color: #6c6767;
    margin-top: 7.5%;
}

#containerSoumission {
    margin-left: 10px;
    margin-top: 10px;
}

#cerle,
img {
    width: 80px;
    height: 80px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
}

#btn {
    background-color: rgb(31, 135, 196);
    margin-left: 50px;
    margin-bottom: 30px;
    padding: 10px 20px 10px 20px;
}

#nombre {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
}

#containeResults {
    display: none;
}