body {
    background-color: aquamarine;
}

.container {
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    width: 300px;
    margin: auto;
    background-color: white;
    padding: 1.5em;
    color: #6c6767
}

#gratuit {
    height: 126px;
    width: 501px;
    left: 0px;
    top: -2px;
}

h1 {
    margin-left: 75px;
    color: #6c6767;
    font-size: 20px;

}

#gratuit {
    font-family: 25px;
    font-size: 15px;
    padding: auto;
    color: #6c6767;
    margin-bottom: 0px;

}

p,
.decalage {
    margin-left: 5px;
}

.petitp {
    font-size: 8px;
    color: red;
}

#button {
    background-color: darkgreen;
    color: white;
    align-items: center;
    padding: 10px 15px 10px 15px;
    margin-left: 70px;

}

.input {
    height: 25px;
    width: 315px;
    border-color: red;
}


/*Page questionnaire commencement*/

.questions {
    display: none;
}

.questions01 {
    display: none;
}

.questions02 {
    display: none;
}

.questions03 {
    display: none;
}

.questions04 {
    display: none;
}

.questions05 {
    display: none;
}

.questions06 {
    display: none;
}

.questions07 {
    display: none;
}

.questions08 {
    display: none;
}

.questions09 {
    display: none;
}

.questions10 {
    display: none;
}